/* AddNote */
.description{
    height: 225px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    resize: none;
}
.title{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
/* Notes */
.fa-triangle-exclamation{
    font-size: 1.35rem;
}
.viewTitle{
    width: 95vw;
    outline: none;
    background-color: white;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.35rem;
    border-bottom: none;
}
.viewDescription{
    width: 95vw;
    min-height: 70vh;
    background-color: white;
    font-size: 1.175rem;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    resize: none;
    border-top-color: white;
}
.viewModalEditBtn:hover{
    background-color: #00afef;
    border-color: #00afef;
}
.viewModalDltBtn:hover{
    background-color: #ff5b6f;
    border-color: #ff5b6f;
}
/* NoteItem */